## Twitter Customer Support Data:

#### We have twitter customer support data, our task is to perform various text preprocessing techniques

#### We shall perform the below mentioned text preprocessing steps

- converting data to lower case
- removing punctuation marks
- removing stopwords
- remove urls
- remove html tags
- Emoji handling
- stemming
- lemmatization

#### Apart from the above mentioned steps we shall perform other pre processing steps if required

In [1]:
#importing the required libraries

import numpy as np
import pandas as pd
import re
import nltk
import spacy
import string

C:\Users\DELL\AppData\Local\Temp\ipykernel_7016\3281421150.py:4: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

- The dataset consists of 1 million + rows, in order to avoid our system getting hanged, we shall import only 10k or 5k rows, whichever performs better.

In [2]:
# importing the dataset:

twitter = pd.read_csv('../GenAI_Assignments/data/twcs.csv', nrows=10000)

# as 10,000 rows have easily loaded, we shall continue with 10000 rows

In [3]:
# checking the shape of our dataset
twitter.shape

# we have 10000 rows and 7 columns

(10000, 7)

In [4]:
# checking the first few and the last few rows of the dataset

twitter.head(10)

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,1,sprintcare,False,Tue Oct 31 22:10:47 +0000 2017,@115712 I understand. I would like to assist y...,2,3.0
1,2,115712,True,Tue Oct 31 22:11:45 +0000 2017,@sprintcare and how do you propose we do that,NaN,1.0
2,3,115712,True,Tue Oct 31 22:08:27 +0000 2017,@sprintcare I have sent several private messag...,1,4.0
3,4,sprintcare,False,Tue Oct 31 21:54:49 +0000 2017,@115712 Please send us a Private Message so th...,3,5.0
4,5,115712,True,Tue Oct 31 21:49:35 +0000 2017,@sprintcare I did.,4,6.0
5,6,sprintcare,False,Tue Oct 31 21:46:24 +0000 2017,@115712 Can you please send us a private messa...,"5,7",8.0
6,8,115712,True,Tue Oct 31 21:45:10 +0000 2017,@sprintcare is the worst customer service,"9,6,10",NaN
7,11,sprintcare,False,Tue Oct 31 22:10:35 +0000 2017,@115713 This is saddening to hear. Please shoo...,NaN,12.0
8,12,115713,True,Tue Oct 31 22:04:47 +0000 2017,@sprintcare You gonna magically change your co...,"11,13,14",15.0
9,15,sprintcare,False,Tue Oct 31 20:03:31 +0000 2017,@115713 We understand your concerns and we'd l...,12,16.0

In [5]:
twitter.tail(10)

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
9990,13764,MicrosoftHelps,False,Wed Nov 01 01:53:00 +0000 2017,"@118889 Since the password reset didn't work, ...",NaN,13765.0
9991,13765,118889,True,Tue Oct 31 23:52:11 +0000 2017,@MicrosoftHelps I tried to chat &amp; email su...,"13764,13766",13767.0
9992,13767,MicrosoftHelps,False,Tue Oct 31 18:21:00 +0000 2017,"@118889 We got your back, Kyle. Just to clarif...","13768,13765",13769.0
9993,13769,118889,True,Tue Oct 31 17:10:44 +0000 2017,@MicrosoftHelps I've had ongoing account acces...,13767,NaN
9994,13770,MicrosoftHelps,False,Wed Nov 01 01:47:00 +0000 2017,@118890 2/2 https://t.co/XCt8AifoxD to get in ...,NaN,13771.0
9995,13771,118890,True,Tue Oct 31 23:51:30 +0000 2017,@MicrosoftHelps That link just gives me gibber...,"13770,13772",13773.0
9996,13773,MicrosoftHelps,False,Tue Oct 31 07:49:30 +0000 2017,"@118890 In that case, kindly contact our Answe...",13771,13774.0
9997,13774,118890,True,Tue Oct 31 05:49:07 +0000 2017,@MicrosoftHelps Has any other Windows 10 user ...,13773,13775.0
9998,13775,MicrosoftHelps,False,Tue Oct 31 02:43:52 +0000 2017,@118890 1/2 Your Internet Service Provider can...,"13776,13777,13774",13778.0
9999,13778,118890,True,Mon Oct 30 23:13:58 +0000 2017,@MicrosoftHelps What can my dialup service pro...,"13775,13779",13780.0

In [6]:
# let us check the data type of columns

twitter.dtypes

tweet_id                     int64
author_id                   object
inbound                       bool
created_at                  object
text                        object
response_tweet_id           object
in_response_to_tweet_id    float64
dtype: object

In [7]:
# checking more infor about our data

twitter.info()

# 'text' columns which is of our interest has no missing data.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tweet_id                 10000 non-null  int64
 1   author_id                10000 non-null  object
 2   inbound                  10000 non-null  bool
 3   created_at               10000 non-null  object
 4   text                     10000 non-null  object
 5   response_tweet_id        6719 non-null   object
 6   in_response_to_tweet_id  7269 non-null   float64
dtypes: bool(1), float64(1), int64(1), object(4)
memory usage: 478.6+ KB

- We have completed some housekeeping basics.

- Now let us go to the column of our interest which is the 'text' column.

- The 'text' column is of the 'object' datatype, we need to convert it to 'str' data type.

In [8]:
# checking 'text' column

twitter['text'].head(10)

0    @115712 I understand. I would like to assist y...
1        @sprintcare and how do you propose we do that
2    @sprintcare I have sent several private messag...
3    @115712 Please send us a Private Message so th...
4                                   @sprintcare I did.
5    @115712 Can you please send us a private messa...
6            @sprintcare is the worst customer service
7    @115713 This is saddening to hear. Please shoo...
8    @sprintcare You gonna magically change your co...
9    @115713 We understand your concerns and we'd l...
Name: text, dtype: object

In [9]:
twitter['text'].tail(10)

9990    @118889 Since the password reset didn't work, ...
9991    @MicrosoftHelps I tried to chat &amp; email su...
9992    @118889 We got your back, Kyle. Just to clarif...
9993    @MicrosoftHelps I've had ongoing account acces...
9994    @118890 2/2 https://t.co/XCt8AifoxD to get in ...
9995    @MicrosoftHelps That link just gives me gibber...
9996    @118890 In that case, kindly contact our Answe...
9997    @MicrosoftHelps Has any other Windows 10 user ...
9998    @118890 1/2 Your Internet Service Provider can...
9999    @MicrosoftHelps What can my dialup service pro...
Name: text, dtype: object

- We can observe that the data contains symbols, punctuations, urls etc.

- We will clean them.

In [10]:
# converting 'text' column to 'string' dtype from 'object'

twitter['text'] = twitter['text'].astype("string")

In [11]:
# checking if 

twitter['text'].dtype

string[python]

In [12]:
# separating the 'text' column

twdf = twitter[["text"]]

In [13]:
# cross-checking the dtype of text column of new dataframe.

twdf['text'].dtype

string[python]

## Text Preprocessing

### Lower Casing

In [14]:
import warnings
warnings.filterwarnings('ignore')

In [15]:
# 

twdf['text'] = twdf['text'].str.lower()
twdf['text'].head(5)

# text has been conducted to lower case

0    @115712 i understand. i would like to assist y...
1        @sprintcare and how do you propose we do that
2    @sprintcare i have sent several private messag...
3    @115712 please send us a private message so th...
4                                   @sprintcare i did.
Name: text, dtype: string

### Punctuation Marks

In [16]:
# creating a variable to exclude punctuation marks

exclude = string.punctuation

In [17]:
# creating a function to remove the punctuation marks

def remove_punctuation(text):
    for char in exclude:
        text = text.replace(char,"")
    return text

In [18]:
twdf['text'] = twdf['text'].apply(remove_punctuation)

In [19]:
twdf['text'][0]

'115712 i understand i would like to assist you we would need to get you into a private secured link to further assist'

In [20]:
twdf['text'][2]

'sprintcare i have sent several private messages and no one is responding as usual'

- the punctuation marks have been removed.

### Removing html tags

In [21]:
def remove_html_tags(text):
    pattern =  re.compile('<.*?>')
    return pattern.sub("",text)

In [22]:
twdf['text'] = twdf['text'].apply(remove_html_tags)

#html tags have been removed

### Removing urls

In [23]:
def remove_url(text):
    pattern = re.compile(r'https?://\S+|www\.\S+')
    return pattern.sub(r'', text)

In [24]:
twdf['text'] = twdf['text'].apply(remove_url)

In [25]:
twdf.tail(10)

# we can see that the url has been removed

                                                   text
9990  118889 since the password reset didnt work let...
9991  microsofthelps i tried to chat amp email suppo...
9992  118889 we got your back kyle just to clarify a...
9993  microsofthelps ive had ongoing account access ...
9994  118890 22 httpstcoxct8aifoxd to get in touch w...
9995  microsofthelps that link just gives me gibberi...
9996  118890 in that case kindly contact our answer ...
9997  microsofthelps has any other windows 10 user n...
9998  118890 12 your internet service provider can c...
9999  microsofthelps what can my dialup service prov...

### Removing Stopwords

In [26]:

from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\DELL\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [27]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [28]:
STOPWORDS = set(stopwords.words('english'))

def remove_stopwords(text):
    return " ".join([word for word in str(text).split() if word not in STOPWORDS])

In [29]:
twdf['text'] = twdf['text'].apply(remove_stopwords)

In [30]:
twdf['text']

0       115712 understand would like assist would need...
1                                      sprintcare propose
2       sprintcare sent several private messages one r...
3       115712 please send us private message assist c...
4                                              sprintcare
                              ...
9995    microsofthelps link gives gibberish 2a0 tqo0­a...
9996    118890 case kindly contact answer desk support...
9997    microsofthelps windows 10 user noticed massive...
9998    118890 12 internet service provider check anot...
9999    microsofthelps dialup service provider stop wi...
Name: text, Length: 10000, dtype: object

- stopwords have been removed

### Emoji Removal

- There are different ways of emoji removal.
- First, by using the package, where the emoji will be converted into its text description.
- Second, by manually creating a function and removing the emoji entirely.
- We will implement the first method.

In [32]:
# importing the required package
import emoji

In [33]:
# creating a function using the above package
def remove_emoji(text):
    clean_text = emoji.demojize(text)
    return clean_text

In [34]:
# we will try the above function on our custom sentence and then apply it on our dataset:

# custom sentence:
custom_sentence = "Hello,😊 how are you today? 🌟"

remove_emoji(custom_sentence)

# the emoji has been removed.

'Hello,:smiling_face_with_smiling_eyes: how are you today? :glowing_star:'

In [35]:
# applying the function on our dataset:

twdf['text'] = twdf['text'].apply(remove_emoji)

- remove_emoji function has been successfully applied to our dataset.

### Stemming
- For stemming we shall use the Porter Stemmer
- We will use it on a custom sentence and then apply it on our dataset.

In [37]:
# importing the required libraries:
from nltk.stem import PorterStemmer

# creating the function:
def stemming(text):
    obj = PorterStemmer()
    word_stem = [obj.stem(word) for word in text.split()]
    return word_stem

In [38]:
# applying the above function on a custom sentence:

sent = "Python programmers often tend like programming in python because it's like english. We call people who program in python pythonistas."

stemming(sent)

# we can observe that stemming has been applied to our sentence successfully.

['python',
 'programm',
 'often',
 'tend',
 'like',
 'program',
 'in',
 'python',
 'becaus',
 "it'",
 'like',
 'english.',
 'we',
 'call',
 'peopl',
 'who',
 'program',
 'in',
 'python',
 'pythonistas.']

In [39]:
# applying stemming on our dataset:

twdf['text'] = twdf['text'].apply(stemming)

- stemming has been successfully applied on our dataset.

### Lemmatization
- For lemmatization we shall use the WordNetLemmatizer.
- We will use it on a custom sentence and then apply it on our dataset.

In [43]:
# importing the required library:
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')

# creating a function for lemmatization:
def lemmatization(text):
    words=text.split()
    lemmetizer=WordNetLemmatizer()
    word_lemma=[lemmetizer.lemmatize(word) for word in words]
    return word_lemma

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\DELL\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [44]:
# applying the above function on a custom sentence:

sent = "Python programmers often tend like programming in python because it's like english. We call people who program in python pythonistas."

lemmatization(sent)

# we can observe that stemming has been applied to our sentence successfully.

['Python',
 'programmer',
 'often',
 'tend',
 'like',
 'programming',
 'in',
 'python',
 'because',
 "it's",
 'like',
 'english.',
 'We',
 'call',
 'people',
 'who',
 'program',
 'in',
 'python',
 'pythonistas.']

In [ ]:
# code to apply lemmatization to our dataset
# we shall not apply it as stemming has already been appied

'''
twdf['text'] = twdf['text'].apply(lemmatization)

'''

- lemmatization has been successfully applied to our dataset.
- if we compare application of stemming and lemmatization on our custom sentence, we can observe how differently they work.

Thus, we have applied many text preprocessing techniques, if required depending upon the data we can apply few other techniques as well.